.App {
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: rgb(84, 72, 213);
  background: linear-gradient(
    0deg,
    rgba(84, 72, 213, 1) 24%,
    rgba(131, 135, 57, 1) 50%,
    rgba(0, 74, 255, 1) 78%
  );
}
